body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}


header
{
    background-color: #ffffff;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

header figure 
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

header figcaption
{
    font-size: 1.2rem;
    font-weight: bold;
}


nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


nav ul li a
{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


nav ul li a:hover
{
    color: #0077cc;
}

main
{
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

section
{
    margin-bottom: 40px;
}


article
{
    margin-bottom: 25px;
}

h2,h3
{
     color: #222;
}

figure img
{
    max-width: 100%;
    border-radius: 8px;
}

table
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td
{
    border: 1px solid #ddd;
    padding:  12px;
    text-align: left;
}

table th
{
    background-color: #f0f0f0;
}



label
{
    display: inline-block;
    margin-top: 15px;
}

imput[type="number"]
{
    padding: 5px;
    width: 80px;
    margin-left: 10px;
}

button
{
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover
{
    background-color: #005fa3;
}


footer
{
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 20px 40px;
    margin-top: 40px;
}

footer address
{
    font-style: normal;
    line-height: 1.6;
}

footer a
{
    color: #0077cc;
    text-decoration: none;
}

footer a:hover
{
    text-decoration: underline;
}


